{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148338181-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-148338181-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brant's Portfolio</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'marketing/style.css' %}">
    <script>
        window.onload = function() {
            var recaptcha = document.forms["myForm"]["g-recaptcha-response"];
            recaptcha.required = true;
            recaptcha.oninvalid = function(e) {
                // do something
                alert("Please complete the captcha");
        }
        }
    </script>

</head>
<body>
    <div id="particles-js">
        <div class="custom-banner">
            <h1>Hey, I'm <span class="highlight">Brant</span>.</h1>
            <h2>I'm a full-stack web developer.</h2>
            <button class="custom-btn">
                <a href="#navbar" class="gray-hover">
                    Interested? <span>&#8594;</span>
                </a>
            </button>
        </div>
    </div>
        <div id="navbar">
            <ul class="links">
                <a href="#about"><li>ABOUT</li></a> 
                <li> | </li>
                <a href="#projects-title"><li>PROJECTS</li></a>
                <li> | </li>
                <a href="#application-form"><li>CONTACT</li></a>
            </ul>
        </div>

        <section class="section" id="about">
            <div class="sectionTitle">ABOUT</div>
            <div class="sectionContent">
                <div class="half" id="content">
                    I began learning Python in college as a tool to solve higher order chemical engineering problems. 
                    I got hooked to the challenges that learning how to code brought. That snowballed, and developed into a
                    passion for building things with code.
                    </br>
                    </br>
                    My language experience is in Python and Javascript, and my framework knowledge lies in Django/Django Rest and React.
                    However, I believe the principles of programming span deeper than the tools we use, and I welcome the challenge of learning a new
                    stack if necessary. 
                </div>
                <div class="half" id="skills">
                    <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/267_Python_logo-512.png" alt="python" id="python-logo">
                    <img src="https://cdn2.iconfinder.com/data/icons/designer-skills/128/code-programming-javascript-software-develop-command-language-512.png" alt="javascript" id="javascript-logo">
                    <img src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_960_720.png" alt="" id="html-logo">
                    </br>
                    <img src="https://icon-library.net/images/django-icon/django-icon-0.jpg" alt="" id="django-logo">
                    <img src="https://png.pngtree.com/svg/20170719/react_1353128.png" alt="" id="react-logo">
                    <img src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582747_960_720.png" alt="" id="css-logo">
                </div>
            </div>
        </section>

        <section class="section" id="projects-title">
            <div class="sectionTitle">PROJECTS</div>
        </section>

        <section class="section">
            <div class="sectionContent" id="civil">
                <div class="half" id="civil-img">
                    <a href="https://www.cccesi.com/" class="img-link" target="_blank">
                        <img class="projectImage" src="{% static 'img/cccesi.PNG' %}" alt="">
                    </a>
                </div>
                <div class="half center" id="civil-content">
                    <h3>Civil Construction Company</h3>
                    <p>I built a web app for a local construction company.
                    Per the client's request, the project includes an application form
                    that stores applicant information to a database and emails HR 
                    the applicant's submitted data.
                    </p>
                    <p>Backend: Django, PostgresQL, Apache</p>
                    <p>Frontend: HTML5,  CSS</p>
                    <button class="demo">
                        <a href="https://www.cccesi.com/" class="project-btn" target="_blank">
                            DEMO
                        </a>
                    </button>
                    <button class="demo">
                        <a href="https://github.com/brantmorton/civil-construction" class="project-btn" target="_blank">
                            GITHUB
                        </a>
                    </button>
                </div>
            </div>

            <div class="sectionContent" id="excused">
                <div class="half" id="excused-img">
                    <a href="http://excused-excuse-generator.herokuapp.com/" class="img-link" target="_blank">
                        <img class="projectImage" src="{% static 'img/excused.PNG' %}" alt="">
                    </a>
                </div>
                <div class="half center" id="excused-content">
                    <h3>Excused - Excuse Generator</h3>
                    <p>This project generates random excuses for the user. It is built using React Hooks on the frontend, 
                    with a custom API built on Django Rest Framework for the backend. The app has the functionality to display
                    categorized excuses that are sorted client side.
                    </p>
                    <p>Backend: Django Rest Framework, Heroku</p>
                    <p>Frontend: React</p>
                    <button class="demo">
                        <a href="http://excused-excuse-generator.herokuapp.com/" class="project-btn" target="_blank">
                            DEMO
                        </a>
                    </button>
                    <button class="demo">
                        <a href="https://github.com/brantmorton/excuses" class="project-btn" target="_blank">
                            GITHUB
                        </a>
                    </button>
                </div>
            </div>

            <div class="sectionContent" id="portfolio">
                <div class="half" id="portfolio-img">
                    <a href="#" class="img-link">
                        <img class="projectImage" src="{% static 'img/portfolio.PNG' %}" alt="">
                    </a>
                </div>
                <div class="half center" id="porfolio-content">
                    <h3>Portfolio Site</h3>
                    <p> This is an on-going project to display my full-stack work. I built the full UI with custom HTML
                    and CSS. The header is using Particles.js, a Javascript library. The contact section is powered by Django.
                    </p>
                    <p>Backend: Django, Apache</p>
                    <p>Frontend: HTML5, CSS, Javascript</p>
            
                    <button class="demo">
                        <a href="https://github.com/brantmorton/portfolio" class="project-btn" target="_blank">
                            GITHUB
                        </a>
                    </button>
                </div>
            </div>
                
        </section>
        
        {% block content %}{% endblock %}
        
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', 
        'static/particles.json', function() {
            console.log("particles.json loaded...")
        })
    </script>
    <script type="text/javascript" src="{% static 'marketing/navbar.js' %}"></script>
   
</body>
</html>
