
/*----- General Formatting -----*/
body {
    box-sizing: border-box;
    color: #252934;
    margin: 0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    overflow-x:hidden;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    font-weight: lighter;
}

h3 {
    font-size: 2rem;
    font-weight: lighter;
}

h1, h2 {
    color: white;
    opacity: 0.9;
    padding: 0;
    margin: 0;
}

/*----- Header -----*/
#particles-js {
    background: #252934;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    color: hsl(170, 100%, 45%);
}

.custom-banner {
    position: absolute;
    text-align: center;
    margin: 0;
}

.custom-btn {
    margin-top: 1.25rem;
    padding: 0;
    background: transparent;
    border: 1.5px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.custom-btn:hover {
    background: #E31B6D;
    transition: 0.3s;
} 

.custom-btn:focus {
    outline: none;
}

.gray-hover:hover {
    color: #252934;
}

a {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: white;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
}

a:hover, a:focus {
    color: #E31B6D;
    text-decoration: none;
}

/*----- Navbar -----*/
#navbar {
    background: #1B242F;
    border-bottom: 2px solid hsl(170, 100%, 45%);
    margin: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
    position: sticky;
}

.links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links > li {
    padding: 0.75vw;
    font-size: 1.5rem;
    font-weight: 300;
}

.links > a {
    font-weight: lighter;
    letter-spacing: 0;
}

.links >li:nth-child(1),
.links >li:nth-child(3),
.links > li:nth-child(5) {
    cursor: pointer;
}

/*----- Main Content -----*/
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTitle {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 15vh;
    opacity: 0.8;
    
}

.sectionTitle:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 75%; 
    border-bottom: 4px solid #252934;
}

.sectionContent {
    display: flex;
    padding: 10vh;
    flex-wrap: wrap;
    font-size: 1.5rem;
    width:100vw;
}


#skills {
    text-align: center;
    margin: auto;
}

#skills > ul {
    margin: 0;
}

.skill {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.half {
    padding: 4rem;
    flex: 1;
    flex-basis: 40%;
    text-align: center;
}

img {
    width: 150px;
}

/*----- Project Section -----*/

#civil {
    padding-top: 5vh;
}

#projects-title, #excused {
    background: #00aa8e0c;
}

#projects-title > .sectionTitle {
    padding: 5vh;
}


.projectImage {
    width: 35vw;
    height: auto;
    border-radius: 5px;
    margin-top: 100px;
    transition: all .2s ease-in-out; 
}

.projectImage:hover {
    transform: scale(1.1); 
}

.img-link {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.demo {
    background: transparent;
    border: 2px solid hsl(170, 100%, 45%);
    border-radius: 5px;
    padding:0;
}

.demo:hover {
    background: hsl(170, 100%, 45%);
}

.project-btn {
    padding: 5px 10px;
    color: #252934;
    font-weight: lighter;
    letter-spacing: 0;
    font-family: 'Open Sans', sans-serif;
}

.project-btn:hover {
    color: inherit;
}

.svgcolor-light {
    background: #252934;
}

#excused-img {
    order: 1;
    ;
}

/*----- Contact Section -----*/

.defs-only {
    position: absolute;
}

#application-form {
    background: hsl(175,77%,46%);
}

.contact-background {
    background: hsl(175,77%,46%);
    margin: 0;
}


.container {
    padding-bottom: 3rem;
}

#contact-header {
    text-align: center;
    
    font-size: 3rem;
    font-weight: bolder;
    color: #252934;
    opacity: 0.8;
    padding-bottom: 5vh;
}

#socials {
    display: flex;
    justify-content: center;
    padding: 3vh;
}

.social-icons {
    width: 75px;
    margin: 1vw;
}

@media (max-width: 1300px) {
    
    .sectionTitle, #contact-header {
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    .half {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .sectionContent {
        padding: 3rem;
    }
}

@media (max-width: 1000px) {
    
    .half {
        padding-top: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }
    
    #civil-img, #portfolio-img {
        padding: 0;
        order: 1;
    }

    #excused-img {
        padding: 0;
    }

    .projectImage {
        width: 80vw;
        text-align: center;
        margin: 0;
        padding: 0;
    }


}


@media (max-width: 800px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .custom-btn {
        font-size: 0.75rem;
    }

    .project-btn {
        font-size: 1.25rem;
    }

    .links > a {
        font-size: 1rem;
        padding: 0.5rem;;
    }


    .sectionTitle {
        font-size: 2rem;
    }

    .sectionTitle::after {
        border-bottom: 2px solid #252934;
    }

    .sectionContent {
        padding: 2rem 0;
        font-size: 1rem;
    }

    img {
        width: 100px;
    }

    .projectImage:hover {
        transform: none;
    }

    .half {
        flex: 0 0 100%;
    }

}

@media (max-width: 500px) {
    .social-icons {
        width: 60px;
        margin: 10px;
    }

    #socials {
        padding: 4vh;
    }
}
